{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Chauffeurld</th>
                <td>{{ chauffeur.Chauffeurld }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ chauffeur.Name }}</td>
            </tr>
            <tr>
                <th>ContactInfo</th>
                <td>{{ chauffeur.ContactInfo }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ chauffeur.Availability }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_index') }}">back to list</a>

    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>

    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
