{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Booking index</h6>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{{ path('app_booking_new') }}" class="btn btn-outline-primary btn-sm mb-0">Create new</a>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">Id</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">BookingId</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">CustomerId</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">SpecialBooking</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">DropOfCustomer</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">PckUpCustomer</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">IsLuxury</th>
                                <th class="text-secondary opacity-7">actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.id }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.bookingId }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.customerId }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.specialBooking }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.dropOfCustomer ? booking.dropOfCustomer|date('Y-m-d H:i:s') : '' }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ booking.pckUpCustomer ? booking.pckUpCustomer|date('Y-m-d H:i:s T') : '' }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-{{ booking.isLuxury ? 'success' : 'secondary'}}">{{ booking.isLuxury ? 'Yes' : 'No' }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('app_booking_show', {'id': booking.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Show
                                        </a>
                                        <a href="{{ path('app_booking_edit', {'id': booking.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">
                                        <p class="text-center">No Records Found</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
