{% extends 'base.html.twig' %}

{% block title %}Feedback index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Feedback Index</h6>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{{ path('app_feedback_new') }}" class="btn btn-outline-primary btn-sm mb-0">Create new</a>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">Id</th>
                                <th class="text-uppercase text-center text-xxs font-weight-bolder opacity-7">Description</th>
                                <th class="text-secondary opacity-7">actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for feedback in feedback %}
                                <tr>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ feedback.id }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ feedback.description }}</span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{{ path('app_feedback_show', {'id': feedback.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Show
                                        </a>
                                        <a href="{{ path('app_feedback_edit', {'id': feedback.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">
                                        <p class="text-center">No Records Found</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
